<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.gm.instaqueue">

    <application
        android:name=".application.IQStoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.LandingActivity"
            android:theme="@style/AppTheme.Background" />
        <activity
            android:name=".tokens.TokensActivity"
            android:theme="@style/AppTheme.Background" />
        <activity
            android:name=".addedittoken.AddEditTokenActivity"
            android:theme="@style/AppTheme.Background" />
        <activity
            android:name=".activity.CustomFields"
            android:label="@string/title_activity_custom_fields"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>